<html>
    <head>
        <title>Basic Web Calcualtor</title>
        <script type="text/javascript" src="~/js/calculator.js"></script>
        <link rel="stylesheet" href="~/css/style.css" />
    </head>
    <body>
        <h2>Basic Web Calculator</h2>
        <input class="inputSpacing roundedTextBox" type="number" id="num1" /><br />
        <input class="inputSpacing roundedTextBox" type="number" id="num2" /><br />
        <input class="inputSpacing" type="button" onclick="add();" value="Add" />
        <input class="inputSpacing" type="button" onclick="subtract();" value="Subtract" />
    </body>
</html>



